.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.search-container{
    justify-content: center;
    
    
}
.bag-amount{
   display:absolute; 
    border:1px solid transparent;
    color:white;
    background: red;
    border-radius: 50%;
    padding-left:0.8vh;
    padding-right:0.8vh;
    padding-bottom:0.2vh;
    padding-top:0.2vh;
    text-align: center;
}
.checkout{
    border:1px solid gainsboro;
    border-radius:4px;
    margin-left: 46vw;
    margin-top:6vh;
    padding-left:4vw;
    padding-right:5vw;
    padding-bottom:0.7vw;
    padding-top:0.7vw;
}
.checkout:hover{
    cursor:pointer;
}
.ibag{
    height:1.5em;
}
.bag{
    margin-left: 80vw;
    display: flex;
    flex-direction: row;
    float:left;
}
.item-div{
    border:1px solid gainsboro;
    border-radius: 10px;
    margin-top: 5vw;
    height:30vh;
    margin-left: 5vw;
    background: transparent;
    width:10vw;
    padding:2vw;
    text-align:center;
    align-items:center;
}
.item-div:hover{
    cursor: pointer;
    background: gainsboro;
}
.products-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align:  center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.header{
    justify-content: center;
    height:10vh;
    display: block;
    border-bottom: ;
    background: white;
    box-shadow: 0px 0px 3px grey;
}
.search-panel{
    opacity:0.5;
    margin-left:20vw;
    width:50vw;
    height:7vh;
    border-radius: 10px;
    margin-top:3vh;
    background: gainsboro;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
